// 全局样式
page,
.page {
  background-color: $o-bg;
  color: $o-b80;
  font-size: 32rpx;
  width: 750rpx;
  height: 100%;
}

.page {
  min-height: 100%;
  height: auto;
}

text,
view {
  box-sizing: border-box;
  word-break: break-all;
}

image {
  vertical-align: middle;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@font-face {
  font-family: 'AlibabaPuHuiTi-3-55-Regular';
  src: url('@/static/font/AlibabaPuHuiTi-3-55-Regular.ttf');
}

@font-face {
  font-family: 'AlibabaPuHuiTi-3-85-Bold';
  src: url('@/static/font/AlibabaPuHuiTi-3-85-Bold.ttf');
}
