// 全局样式
page,
.page {
  background-color: $o-bg;
  color: $o-b80;
  font-size: 32rpx;
  display: inline-block;
  width: 750rpx;
  height: 100%;
}

.page {
  min-height: 100%;
  height: auto;
}

text,
view {
  box-sizing: border-box;
  word-break: break-all;
}

image {
  vertical-align: middle;
}

.ellipsis-200 {
  width: 400rpx;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ellipsis-311 {
  width: 622rpx;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
