// 主题色
$o-theme: rgba(24, 146, 105);
$o-theme-50: rgba(24, 146, 105, 0.5);
$o-theme-10: rgba(24, 146, 105, 0.1);

// 黑色梯度
$o-black-80: rgba(0, 0, 0, 0.8);
$o-black-60: rgba(0, 0, 0, 0.6);
$o-black-40: rgba(0, 0, 0, 0.4);
$o-black-30: rgba(0, 0, 0, 0.3);
$o-black-20: rgba(0, 0, 0, 0.2);
$o-black-12: rgba(0, 0, 0, 0.12);
$o-black-10: rgba(0, 0, 0, 0.1);

// 白色梯度
$o-white: rgba(255, 255, 255);
$o-white-50: rgba(255, 255, 255, 0.5);
$o-white-30: rgba(255, 255, 255, 0.3);

// 背景色
$o-bg: rgba(245, 245, 245);

// 权益色
$o-rights: rgba(203, 149, 77);

// 警示色
$o-warn: rgba(248, 108, 77);

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
