// 主题色
$o-t: #189269;
$o-t50: rgba($o-t, 0.5);
$o-t10: rgba($o-t, 0.1);

// 背景色
$o-bg: #f5f5f5;

// 黑色
$o-b: #000000;
$o-b80: rgba($o-b, 0.8);
$o-b60: rgba($o-b, 0.6);
$o-b40: rgba($o-b, 0.4);
$o-b30: rgba($o-b, 0.3);
$o-b20: rgba($o-b, 0.2);
$o-b12: rgba($o-b, 0.12);
$o-b10: rgba($o-b, 0.1);

// 白色
$o-w: #ffffff;
$o-w50: rgba($o-w, 0.5);
$o-w30: rgba($o-w, 0.3);

// 权益色
$o-rights: rgba(203, 149, 77);

// 警示色
$o-warn: rgba(248, 108, 77);

// 偏移量
$o-inset: 32rpx;
$o-width: 750rpx - $o-inset * 2;

$o-radius: 16rpx;

@mixin o-card {
  background-color: $o-w;
  border-radius: $o-radius;
  overflow: hidden;
  width: $o-width;
}
